@page "/"
@using InfraSim.Pages
@using InfraSim.Models.Server
@using InfraSim.Models.Mediator
@inject IInfrastructureMediator InfrastructureMediator
@inject IServerFactory ServerFactory
@inject IServerDataMapper ServerDataMapper

<style>
    .container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding: 20px;
    }

    .control-panel {
        width: 140px;
        display: flex;
        flex-direction: column;
    }

    .servers-panel {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 16px;
        flex: 1;
    }

    .cost-display {
        padding: 10px;
        margin-top: 10px;
        font-weight: 600;
        font-size: 1.1rem;
        text-align: center;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }
</style>

<div class="container">
    <div class="control-panel">
        <Actions StartPressed="@StartIncrementing" AddPressed="@AddServer" Refresh="RefreshUI" />
        <Users UserCount="@userCounter.Counter" />
        <div class="cost-display">€ @InfrastructureMediator.TotalCost.ToString("N0")</div>
    </div>
    <div class="servers-panel">
        @foreach (IServer server in Servers){
            <Server ServerInfo="@(new ServerInfoAdapter(server))" />
        }
    </div>
</div>

@code {
    private UserCounter userCounter = new UserCounter();
    private List<IServer> Servers = new List<IServer>();

    private void RefreshUI()
    {
        Servers = new List<IServer>();
        IServerIterator iterator = InfrastructureMediator.CreateServerIterator();
        while (iterator.HasNext)
            Servers.Add(iterator.Next);
        StateHasChanged();
    }

    private void AddServer(IServer server)
    {
        InfrastructureMediator.AddServer(server);
        RefreshUI();
    }

    protected override void OnInitialized() // OnInitialized is called when the page is initialized 
    {
        userCounter.OnCounterChanged += StateHasChanged;
        RefreshUI();
    }

    private async Task StartIncrementing()
    {
        await userCounter.StartIncrementingAsync(); 
    }

    public void Dispose() 
    {
        userCounter.OnCounterChanged -= StateHasChanged; 
    }
}